.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
li {
  list-style: none;
}

.name-sec {
  display: flex;
  align-items: center;
}
.name-img {
  text-align: center;
  color: #ffffff;
  padding: 5px;
  width: 45px;
  height: 45px;
  border-radius: 20px;
  font-size: 25px;
}

.buttons-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time {
  margin-left: 10px;
  color: #7e858e;
  font-size: 20px;
}
.delbutn {
  background-color: transparent;
  outline: none;
  border-style: none;
}
.likebutn {
  background-color: transparent;
  border-style: none;
}
.dislike {
  color: #334155;
  margin-left: 10px;
}
.like {
  color: #0ea5e9;
  margin-left: 10px;
}
.likebutn:hover {
  cursor: pointer;
}
